body{
    background-color: #282120;
    /* color:white; */
}
h1{
    text-align: center;
    color: #FAD02C;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    margin-bottom: 50px;
}
#quizField{
    width: 500px;
    height: 500px;
    background-color: white;
    margin: 0 auto;
}
p, span{
    font-family: 'Roboto', sans-serif;
    color: #282120;
    letter-spacing: 2px;
}
.question{
    text-transform: uppercase;
    margin: 0 auto;
    padding: 25px 30px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #282120;
}
#counterText{
    position: relative;
    right: 5px;
    text-align: right;
}
li{
    list-style-type: none;
    display: inline-block;
}
.clicked{
    color: red;
}
.answers{
    font-size: 20px;
    padding: 30px 10px;
    font-family: 'Roboto', sans-serif;
    color: #282120;
}
.checks{
    margin-left: 40px;
}
.result{
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #282120;
}
button{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 100px;
    text-transform: uppercase;
    color: #0099CC; 
    background: transparent; 
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
}
button {
    transition-duration: 0.4s;
}
  
button:hover {
    background-color: rgb(76, 102, 175); /* Green */
    color: white;
}
button:active, button:focus { 
    outline: none;  
}
